html body {
    font-family: 'Montserrat', sans-serif;
}

.main-section {
    padding: 0% 25%;
}


/* The sidebar menu */

#navbar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
    font-size: 20px;
}


/* The navigation menu links */

#navbar a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

#navbar a.nav-link {
    padding: 2px 8px 6px 16px;
    /* padding: 10px; */
    font-size: 20px;
}

#navbar a.nav-sublink {
    padding: 2px 8px 6px 30px;
    font-size: 14px;
}

code {
    background-color: #D3D3D3;
}


/* When you mouse over the navigation links, change their color */

#navbar a:hover {
    color: #f1f1f1;
}


/* Style page content */

.main {
    /* margin-left: 160px; */
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        /* padding-top: 15px; */
    }
    .sidenav a {
        /* font-size: 18px; */
    }
}