* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.main-section {
    width: 100%;
}

section {
    padding: 2rem 2rem 2rem 20rem;
    width: 100%
}

section p {
    padding: 2rem;
}


/* The sidebar menu */

#navbar {
    height: 100%;
    width: 25vw;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
}

ol {
    padding-left: 10vw;
}


/* The navigation menu links */

#navbar a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
}

#navbar a.nav-link {
    padding: 2px 8px 6px 16px;
}

#navbar a.nav-sublink {
    padding: 2px 8px 6px 30px;
    font-size: 0.8rem;
}

#navbar header {
    font-size: 20px;
    padding: 20px;
}

code {
    background-color: #D3D3D3;
}

header {
    font-size: 2.5rem;
    font-weight: 700;
}


/* When you mouse over the navigation links, change their color */

#navbar a:hover {
    color: #f1f1f1;
}


/* Style page content */

ul {
    padding-left: 5rem;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-width: 1000px) {
    #navbar a.nav-link {
        font-size: 0.5rem;
    }
    #navbar a.nav-sublink {
        font-size: 0.4rem;
    }
    #navbar header {
        font-size: 0.5rem;
    }
    section {
        padding: 2rem 2rem 2rem 10rem;
    }
}